services:
  #  主服务
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - /etc/localtime:/etc/localtime:ro  # 设置时区
      - /etc/timezone:/etc/timezone:ro # 设置时区
      - ./api-logs:/logs
  #  反馈服务
  feedback:
    build: ./feedback
    ports:
      - "8080:8080"
    volumes:
      - /etc/localtime:/etc/localtime:ro  # 设置时区
      - /etc/timezone:/etc/timezone:ro # 设置时区
      - ./feedback/dist:/app/dist:ro
      - ./feedback_files:/app/feedback_files
